<?xml version="1.0"?>
<config>
    <modules>
        <Inovarti_Onestepcheckout>
            <version>2.0.2</version>
        </Inovarti_Onestepcheckout>
    </modules>
    <global>
        <fieldsets>
            <checkout_onepage_quote>
                <customer_tipopessoa>
                    <to_customer>tipopessoa</to_customer>
                </customer_tipopessoa>
                <customer_ie>
                    <to_customer>ie</to_customer>
                </customer_ie>
            </checkout_onepage_quote>
            <customer_account>
                <tipopessoa>
                    <to_quote>customer_tipopessoa</to_quote>
                </tipopessoa>
                <ie>
                    <to_quote>customer_ie</to_quote>
                </ie>
            </customer_account>
        </fieldsets>
        <blocks>
            <onestepcheckout>
                <class>Inovarti_Onestepcheckout_Block</class>
            </onestepcheckout>
        </blocks>
        <models>
            <onestepcheckout>
                <class>Inovarti_Onestepcheckout_Model</class>
            </onestepcheckout>
        </models>
        <resources>
            <onestepcheckout_setup>
                <setup>
                    <module>Inovarti_Onestepcheckout</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onestepcheckout_setup>
        </resources>
        <helpers>
            <onestepcheckout>
                <class>Inovarti_Onestepcheckout_Helper</class>
            </onestepcheckout>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onestepcheckout>
                                            <title>One Step Checkout</title>
                                        </onestepcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Inovarti_Onestepcheckout>
                    <files>
                        <default>Inovarti_Onestepcheckout.csv</default>
                    </files>
                </Inovarti_Onestepcheckout>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <secure_url>
            <onestepcheckout_index>/onestepcheckout/index</onestepcheckout_index>
            <onestepcheckout_ajax>/onestepcheckout/ajax</onestepcheckout_ajax>
        </secure_url>
        <layout>
            <updates>
                <onestepcheckout>
                    <file>onestepcheckout.xml</file>
                </onestepcheckout>
            </updates>
        </layout>
        <routers>
            <onestepcheckout>
                <use>standard</use>
                <args>
                    <module>Inovarti_Onestepcheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
        <events>
            <controller_action_predispatch_checkout>
                <observers>
                    <onestepcheckout_checkout_controller_predispatch>
                        <type>singleton</type>
                        <class>onestepcheckout/observer</class>
                        <method>controllerActionPredispatchCheckout</method>
                    </onestepcheckout_checkout_controller_predispatch>
                </observers>
            </controller_action_predispatch_checkout>
            <checkout_submit_all_after>
                <observers>
                    <onestepcheckout_checkout_submit_all_after>
                        <type>singleton</type>
                        <class>onestepcheckout/observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </onestepcheckout_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
            <!-- for compatibility with Paypal Hosted Pro -->
            <controller_action_postdispatch_onestepcheckout_ajax_placeOrder>
                <observers>
                    <onestepcheckout_osc_placeorder_controller_postdispatch>
                        <class>onestepcheckout/observer</class>
                        <method>controllerActionPostdispatchOnestepcheckoutAjaxPlaceOrder</method>
                    </onestepcheckout_osc_placeorder_controller_postdispatch>
                </observers>
            </controller_action_postdispatch_onestepcheckout_ajax_placeOrder>
        </events>
        <translate>
            <modules>
                <Inovarti_Onestepcheckout>
                    <files>
                        <default>Inovarti_Onestepcheckout.csv</default>
                    </files>
                </Inovarti_Onestepcheckout>
            </modules>
        </translate>
    </frontend>
    <default>
        <onestepcheckout>
            <general>
                <is_enabled>1</is_enabled>
                <is_use_billing_as_shipping>0</is_use_billing_as_shipping>
                <title>One Step Checkout</title>
                <description>Por favor, informe seus dados abaixo para concluir a compra.</description>
                <is_jquery>0</is_jquery>
                <is_block_numbering>1</is_block_numbering>
                <is_show_titles>1</is_show_titles>
                <default_payment_method></default_payment_method>
                <default_shipping_method></default_shipping_method>
                <is_cart_editable>0</is_cart_editable>
            </general>
            <exclude_include_fields>
                <is_company>0</is_company>
                <is_fax>1</is_fax>
                <is_coupon>0</is_coupon>
                <is_comments>0</is_comments>
                <is_newsletter>0</is_newsletter>
            </exclude_include_fields>
            <frontend>
                <display_apply_coupon_button>0</display_apply_coupon_button>
            </frontend>
        </onestepcheckout>
    </default>
</config>